body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.half-area{
    width: 40%;
    height: 100%;
    padding-left: 7%;
    margin-left: 2%;
    float: left;

}

.half-area img{
    width: 100%;
    height: 500px;
}

h1{
    font-size: 50px;
}

.name-highlight{
    color: orange;
    font-weight: 700px;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
}



.top-banner{
    background-repeat: no-repeat;
    background-image:url("Images/top-banner.png")

}

section{
    height: 500px;
}

.mid-banner{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single area{
    box-shadow: 10px 10px grey;
}